// Background Colors
$c-primary: #6e76ff;
$c-secondary: #e9eaff;
$c-success: #69d5a1;
$c-error: #f44747;

// Typography
$c-font_head: #1e1e1e;
$c-font_body: #363b65;
$c-font_accent: #6e76ff;
$c-font_success: #69d5a1;

// Basic styles
$button-border__radius: 0.7rem;
